@charset "UTF-8";
.inner {
  max-width: 1816px;
}

.mainlogo img {
  width: 100px;
  height: auto;
}

.title_big {
  font-size: 2rem;
}

.mainsubtitle {
  font-size: 1.2rem;
}

.mainbigtxt {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 0;
}

header #allMenu {
  display: none;
}
@media (max-width: 1024px) {
  header #allMenu {
    display: block;
    order: 1;
  }
  header #hd h1 {
    order: 2;
  }
  header .iconMenu > li:not(.mypageicon) {
    display: none;
  }
  header .iconMenu {
    order: 3;
  }
  header .rightBananer {
    display: none !important;
  }
  header #banner .swiper {
    margin: 0 auto !important;
    border-radius: 0 !important;
    height: 142vw;
    background-position: -32.2vw bottom !important;
    background-size: 131% !important;
  }
}
header ul {
  margin-top: 1rem;
}
@media (min-width: 991px) {
  header ul.gnb:hover ul {
    height: 200px !important;
    transition: 0.5s;
  }
}
header ul.gnb a {
  font-size: 1rem;
  font-weight: bold;
}
header ul.gnb .d1:first-child ul {
  border-radius: 0 0 0 20px;
}
header ul.gnb .d1:last-child ul {
  border-radius: 0 0 20px 0;
}
header ul.gnb .d1 .gnb_d1_a {
  color: black;
  font-size: 1.2em;
}
header ul.gnb ul {
  min-width: 80px;
  white-space: nowrap;
  height: 0px;
  transition: max-height 0.5s;
  padding: 0 1rem !important;
  border: 0 !important;
  left: 0;
  right: 0;
  overflow: hidden;
}
header ul.gnb ul li {
  text-align: center;
}
header ul.gnb ul li a {
  line-height: 1.8;
  font-size: 1rem !important;
  font-weight: 400 !important;
}
header ul.gnb ul li a:hover {
  font-weight: 700 !important;
}
header ul.gnb ul.leftul {
  left: -2rem;
}
header ul.iconMenu li i {
  margin-left: 1rem;
}

#banner .swiper {
  border-radius: 20px;
  overflow: hidden;
}
#banner .swiper .br20 {
  background: url(/sonyrenewal/img/mainCamera.jpg) no-repeat center #000;
  background-size: 100%;
  height: 100%;
}
#banner .swiper .br21 {
  background: url(/sonyrenewal/img/mainCamera2.jpg) no-repeat center #A982C1;
  background-size: 100%;
  height: 100%;
  border-radius: 20px;
}
#banner .swiper .br22 {
  background: url(/sonyrenewal/img/mainCamera3.jpg) no-repeat center #000;
  background-size: 100%;
  height: 100%;
  border-radius: 20px;
}
#banner .swiper .swiper-button-prev {
  color: white;
}
#banner .swiper .swiper-button-next {
  color: white;
}
#banner .rightBananer .submtitle {
  font-size: 1.5rem !important;
}

#product {
  margin-bottom: 30px;
}
#product li img {
  max-width: 450px;
  display: block;
}
#product li .product_title {
  font-size: 24px;
}
#product li .product_ex {
  font-size: 15px;
}
#product li.gradient-box {
  width: 354px;
  height: 454px;
  background: linear-gradient(#D8D8D8, #DADADA, #F2F2F2); /* 회색 그라디언트 */
  border-radius: 20px; /* 모서리를 둥글게 */
  overflow: hidden;
}
#product li.video_camera img {
  width: 120%;
  margin-left: 8%;
}
#product li.product_camera img {
  width: 120%;
  margin-left: 8%;
  margin-top: 10%;
}
#product li.product_audio img {
  width: 117%;
  margin-left: 16%;
  margin-top: 1%;
  transform: rotate(15deg);
}
#product li.product_ps5 img {
  width: 75%;
  margin-left: 32%;
  margin-top: 35%;
  transform: rotate(14deg);
}
#product li.product_acc img {
  width: 100%;
  margin-left: 27%;
  margin-top: 28%;
}

.fa + .sound_only {
  position: unset !important;
  font-size: 16px !important;
  overflow: visible !important;
  width: auto !important;
  height: auto !important;
  line-height: 1 !important;
}

.btn_bo_user li {
  width: auto !important;
}

.rightBannerlist0 {
  margin-bottom: 1rem;
}

.mypageicon > div {
  display: none;
}

#video .swiper-button-prev,
#video .swiper-button-next {
  border: 4px solid white !important;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#video .swiper-button-prev:after,
#video .swiper-button-next:after {
  color: #fff !important;
  font-size: 18px;
  font-weight: bolder;
}
#video .swiper-button-prev {
  transform: translate(-33px, -19px);
}
#video .swiper-button-next {
  transform: translate(33px, -19px);
}
#video .swiper {
  overflow: visible !important;
}
#video .swiper .swiper-slide {
  max-width: 335px;
  width: 60vw;
}
#video .swiper .swiper-slide img {
  width: 100%;
  height: 190px;
  display: block;
  border-radius: 20px;
}
#video .ps5bg {
  margin: 0px auto;
  padding: 70px 30px;
  background: linear-gradient(-45deg, #4E4462, #4B5388, #A982C1, #91DAE3, #3E6D96);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#video .section_title img {
  max-width: 250px;
  width: 25vw;
}
#video .section_title .ps5title {
  font-size: 1.2rem;
}
#video .thumbnail {
  width: 100%;
  cursor: pointer;
}
#video .iframe-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video .video-container {
  position: relative;
  margin: auto;
  cursor: pointer;
}
#video .video-container img {
  align-items: center;
  border-radius: 20px;
  height: 550px;
}
#video .video-container .playButton {
  width: 84px;
  height: auto;
}
#video .thumbnail {
  width: 100%;
}
#video .iframe-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controllerimg {
  height: 20rem;
}

.consoletitle {
  font-size: 2rem;
  font-weight: bold;
}

.consoleex {
  font-size: 1rem !important;
}

.cosoleblank {
  margin-bottom: 255px;
}

.readMorebox {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #000;
  border-radius: 20px;
  width: 131px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  margin-bottom: 320px;
}

.eventbkank {
  margin-bottom: 320px;
}

.eventtitle {
  font-size: 2rem;
}

.eventmaintxt {
  font-size: 1.2rem;
}

.beforebar:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 25px;
  background-color: #6A6A6A;
  margin-right: 5px;
  border-radius: 10px;
}

.afterbar:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-left: 13px;
  background-color: #fff;
}

.academy {
  margin-bottom: 300px;
}
.academy .academymaintitle {
  font-size: 2rem;
}
.academy .phototitle {
  font-size: 1.2rem;
}

#fnq {
  margin-bottom: 110px;
}
#fnq .fnqtxt {
  white-space: nowrap;
  font-size: 1rem;
}
#fnq .fnqtitle {
  font-size: 2.5rem;
}
#fnq .noticeicon {
  width: auto;
  height: 60px;
}
#fnq .shopicon {
  width: auto;
  height: 60px;
}
#fnq .coustomericon {
  width: auto;
  height: 60px;
}
#fnq .supporticon {
  width: auto;
  height: 60px;
}
#fnq .fnqblank {
  margin-right: 10rem;
}

#footer {
  background-color: #000;
  color: #fff;
}
#footer .sonyfooterlogo {
  width: 107px;
  height: 20px;
}
#footer .footerex {
  font-size: 0.9rem;
}

#mb_login {
  max-width: 385px;
  margin: 0 auto;
  min-height: calc(100vh - 397px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mb_login .logintxt {
  font-size: 1.2rem;
  font-weight: 600;
}
#mb_login .logintitle {
  font-size: 2rem;
  font-weight: bold;
}
#mb_login .frm_input {
  border-radius: 5px;
  border-color: #ccc;
  border-width: 1px;
  line-height: 40px;
  width: 300px;
}
#mb_login .loginbutton {
  height: 50px;
  border-radius: 10px;
  border: 0;
}
#mb_login .sound_only {
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}